@import "../../utils/colors";

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  border: 1px solid $lightGrey;
  padding: 16px;

  &:hover {
    background: $lightGreen;
    border: 1px solid $lightGreen;
  }
}

.card-invited {
  width: 12px;
  height: 12px;
  background: $blue;
  border-radius: 50%;
}
