@import 'utils/colors.scss';

.title {
  color: $darkGrey;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  @extend .title;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  span {
    color: $darkGreen;
    font-weight: bold;
  }
}
