@import 'utils/colors.scss';

.title {
  color: $darkGrey;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  @extend .title;
  font-size: 16px;
}

.description {
  line-height: 130%;

  span {
    color: $darkGreen;
    font-weight: bold;
  }
}
