@import "../../../utils/colors";

.event-stat {
  font-size: 14px;
  margin-bottom: 44px;
}

.event-stat-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.event-stat-bottom {
  @extend .event-stat-top;
  margin-bottom: 0;
}

.event-stat-points {
  display: flex;
}

.event-stat-point {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-stat-point:last-child {
  margin-left: 14px;
}

.event-stat-point-circle {
  width: 12px;
  height: 12px;
  background: $lightGreen;
  margin-right: 6px;
  border-radius: 50%;

  &.blue {
    background: $blue;
  }
}

.event-stat-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    color: $lightGreen;
  }
}

.filter {
  margin-bottom: 12px;

  .filter-btn {
    margin-right: 15px;
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
    color: $inactiveGrey;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }

  .active {
    color: $darkGrey;
  }
}
